.bg-pastel-red {
  background-color: #ffdada;
}

.bg-pastel-green {
  background-color: #c8f3f1;
}

.bg-pastel-blue {
  background-color: #c8def3;
}

.bg-pastel-purple {
  background-color: #eee5ff;
}
